<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<style>
    .heading{
        display: flex;
        justify-content: center;
    }
    h6{
        color: red;
    }
    h3{
        display: block;
    }
    .alert{
        display: flex;
        color: green;
        height: 100%;
    }
</style>
<body>
    <div class="container">
        <div class="heading">
            <h3>Registration Page</h3>
        </div>
        
        {% for data in data %}
        <form  method="post", action="/updateblog/{{data.key}}">
        {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" value="{{data.title}}" name="title"  required>
            </div>
            <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Content</label>
          <input type="text" class="form-control"  value="{{data.content}}" name="content" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
        {% endfor %}
    </div>
</body>
</html>